
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1469085746'); /* IE9*/
  src: url('iconfont.eot?t=1469085746#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1469085746') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1469085746') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1469085746#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shangchuan:before { content: "\e61a"; }
.icon-luyin:before { content: "\e600"; }
.icon-tel:before { content: "\e601"; }
.icon-shuangjiantoushang:before { content: "\e602"; }
.icon-bofang:before { content: "\e612"; }
.icon-tupian:before { content: "\e603"; }
.icon-zanting:before { content: "\e613"; }
.icon-tupian1:before { content: "\e604"; }
.icon-xiao09:before { content: "\e605"; }
.icon-diliweizhi:before { content: "\e606"; }
.icon-shangchuan1:before { content: "\e61b"; }
.icon-kehu01:before { content: "\e607"; }
.icon-weibiaoti205:before { content: "\e608"; }
.icon-fapiao:before { content: "\e609"; }
.icon-luyinzhong:before { content: "\e614"; }
.icon-bf-car_card:before { content: "\e60a"; }
.icon-wodecheliang:before { content: "\e60b"; }
.icon-bofang1:before { content: "\e618"; }
.icon-luyin1:before { content: "\e610"; }
.icon-weibiaoti2:before { content: "\e60c"; }
.icon-bofang2:before { content: "\e619"; }
.icon-shijian:before { content: "\e60d"; }
.icon-yanzhengma:before { content: "\e61c"; }
.icon-jianhao:before { content: "\e615"; }
.icon-zhunbeiluyinanxia01:before { content: "\e616"; }
.icon-doubleup-copy:before { content: "\e60e"; }
.icon-cheliang:before { content: "\e60f"; }
.icon-zhaopian:before { content: "\e611"; }
.icon-jianhao1:before { content: "\e617"; }
