.coupons-box{width: 100%;}
.container{padding: 5rem 3rem 3rem 3rem; text-align: center;}
.container div img{width: 20%;}
.myImg{margin-bottom: 1.3rem;}
.container div:last-child{font-size: 0.8rem; color: #707070;}